@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background: rgba(0, 0, 0, 0.95);
    font: 1.2em / 1.2 'Montserrat', sans-serif;
    margin: 0;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(39, 218, 218);
}

.mainContainerGrid{
    display: grid;
}

.topContainer{
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 0%;
    padding-right: 0%;
    display: grid;
    grid-row-gap: 50px;
    background: white;
}

.title{
    padding-left: 25%;
    padding-right: 25%;
    grid-column: 0;
    display: flex;
    flex-direction: row;
}

.title h1{
    font-size: 1.5em;
    color: black;
}

.logoImage{
    max-height: 75px;
    width: auto;
}

nav {
    top: 0;
    position: sticky;
    background-color: white;
    margin: 0;
    max-width: 100%;
    z-index: 50;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    padding: 0 15px 0 15px;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li .dropbtn {
    background-color: white;
    color: black;
    border: none;
    font: 1.2em / 1.2 'Montserrat', sans-serif;
    padding: 0.5em 0.25em 0.5em 0.25em;
    cursor: pointer;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 300px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
    padding-top: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
    color: rgb(39, 218, 218);
}

.bigImageContainer{
    overflow: hidden;
}

.theBigImage{
    width: 100%;
    opacity: 0.5;
    margin-bottom: -25%;
}

.textOverImageBackground{
    position: absolute;
    top: 600px;
    left: calc(100% / 4);
    width: 700px;
    height: 100px;
    background-color: black;
    opacity: 0.6;
}

.textOverImageBackground .textInside{
    color: white;
    opacity: 1;
    padding-top: 0%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 10%;
    font-size: 1em;
}


.gamesContainer {
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}

.gamesContainer ul {
    display: grid;
    row-gap: 25px;
    column-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
}

.gamesContainer ul li {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gamesContainer ul li h4 {
    grid-column: 1/3;
    grid-row: 1;
    max-width:100%;
}

.gamesContainer ul li img {
    grid-row: 2;
    grid-column: 1 / 2;
    max-width:100%;
    border: 0;
    padding: 0;

}

.gamesContainer ul li p {
    grid-row: 2;
    grid-column: 2 / 3;
    width: 100%;
    font-size: 15px;
    padding-left: 15px;
}

.gamesContainer ul li .playerCount {
    grid-row: 3;
    grid-column: 1 / 2;
    font-size: 12px;
    padding-top: 10px;
}

.gamesContainer ul li .gameScore {
    grid-row: 3;
    grid-column: 2 / 3;
    display: flex;
    padding-top: 10px;
}

.gamesContainer ul li .gameScore p {
    font-size: 10px;
    margin:0;
    padding-top:4px;
    text-align: right;
}

.pageNavigator{
    padding-top: 5%;
}

.gamesContainer ul li .gameScore img {
    height:20px;
}

.pageNavigator ul img {
    height: 40px;
    padding-top:10px;
}

.pageNavigator ul {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    list-style-type: none;
}

.pageNavigator ul img {
    height: 40px;
    margin-top: -15px;
}

.pageNavigator ul img:hover {
    height: 40px;
    margin-top: -15px;
    filter: invert(1%) sepia(77%) saturate(3704%) hue-rotate(122deg) brightness(91%) contrast(86%);
}

.pageNavigator li {
    color:white;
    padding: 15px 5px 0 5px;
}

.pageNavigator .prevPage {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}